<h2> Coupon Index Page </h2>


<h4> Active Coupons </h4>
<% @coupons.each do |coupon| %>
 <%  if coupon.status == "Activated" %>
<section id="coupon-<%= coupon.id %>">
<ul>
<li>Coupon Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %></li>Amount Off: <%= coupon.amount_off %> <%= coupon.discount %>
</ul>
  <% end %>
<% end %>

<h4> Deactive Coupons </h4>
<% @coupons.each do |coupon| %>
 <%  if coupon.status == "Deactivated" %>
<section id="coupon-<%= coupon.id %>">
<ul>
<li>Coupon Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %></li>Amount Off: <%= coupon.amount_off %> <%= coupon.discount %>
</ul>
  <% end %>
<% end %>



</section>
  <%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant) %>