<h2> Coupon Show Page </h2>


<p>Name: <%= @coupon.name %>
<p>Code: <%=  @coupon.unique_code %></p>
<p>Amount Off: <%= @coupon.amount_off %> <%= @coupon.discount %></p>
<p>Status: <%=  @coupon.status %></p>
<p>Number of times Used: <%=  @coupon.counts_use %></p>



